.navbar-collapse    {
    flex-grow: 0 !important;
}

.cartItems  {
    display: inline-flex;
}

.btn.btn-danger {
    margin: 5px;
}

.input-group-text   {
    margin: 5px;
}

.btn.btn-primary    {
    margin: 5px;
}

.modal-footer {
    display: block !important;
    float: left;
}

.cartItems-floatRight {
    display: inline-block;
    float: right;
    margin: 5px;
}

.ms-2.me-auto {
    width: 100%;
}